---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HomeSlider from "../components/HomeSlider.astro";
import GroupTripsGrid from "../components/GroupTripsGrid.astro";
import ParallaxSection from "../components/ParallaxSection.astro";
import AffiliatesSection from "../components/AffiliatesSection.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatedPaths = {
	es: "/",
	en: "/en",
};
---

<!doctype html>
<html lang={lang} dir="ltr">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			translatedPaths={translatedPaths}
		/>
	</head>
	<body>
		<Header isOverlay={true} translatedPaths={translatedPaths} />

		<HomeSlider />

		<GroupTripsGrid />

		<ParallaxSection />

		<AffiliatesSection />

		<Footer />
	</body>
</html>
