---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import PageHero from "../../components/PageHero.astro";
import GroupTripsGrid from "../../components/GroupTripsGrid.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatedPaths = {
	es: "/viajes-en-grupo",
	en: "/en/viajes-en-grupo",
};
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead
			title={`Viajes en grupo - ${SITE_TITLE}`}
			description="Únete a nuestros viajes en grupo con Viajes Veleta. Experiencias fotográficas, rutas culturales divertidas y escapadas exclusivas por España y toda Europa."
			translatedPaths={translatedPaths}
		/>
	</head>
	<body>
		<Header isOverlay={true} translatedPaths={translatedPaths} />
		<PageHero title={t("nav.trips")} image="viajes-en-grupo" />
		
		<GroupTripsGrid showTitle={false} />
		
		<Footer />
	</body>
</html>
